In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv')

In [14]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [15]:
x = data[["home", "how_it_works", "contact"]]
y = data["bought"]

In [16]:
y

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: bought, Length: 99, dtype: int64

In [17]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [18]:
data.shape

(99, 4)

In [23]:
train_x = x[:75] 
train_y = y[:75]
test_x = x[75:]
test_y = y[75:]
test_y.shape
print("We will train it with %d elements and we will test it with %d elements" % (len(train_x), len(test_x)))

We will train it with 75 elements and we will test it with 24 elements

In [28]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("The accuracy for this model was %.2f%%" % accuracy)

The accuracy for this model was 95.83%

# Using library to split test from train

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print(train_x.shape)
print(test_x.shape)
print("We will train it with %d elements and we will test it with %d elements" % (len(train_x), len(test_x)))

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("The accuracy for this model was %.2f%%" % accuracy)

(74, 3)
(25, 3)
We will train it with 74 elements and we will test it with 25 elements
The accuracy for this model was 96.00%

In [49]:
train_y.value_counts()
test_y.value_counts()

0    17
1     8
Name: bought, dtype: int64